<!-- sidebar.component.html -->
<ul class="sidebar-nav nav flex-column">
    <ng-container *ngFor="let item of sidebarItems">
      <li class="nav-item" [ngClass]="{'has-children': item.children, 'opened': item.expanded}">
        <a class="nav-link" href="#" (click)="toggleSubMenu(item)">
          <i *ngIf="item.iconClass" [ngClass]="item.iconClass" class="menu-icon"></i>
          {{ item.label }}
          <i *ngIf="shouldRenderSubmenu(item) && item.children"
          class="menu-icon float-right fa"
          [ngClass]="{
            'fa-plus': !item.expanded,
            'fa-minus': item.expanded
          }"
        ></i>
        </a>
        <ng-container *ngIf="shouldRenderSubmenu(item) && item.children">
          <ul class="sub-menu" *ngIf="item.expanded">
            <app-sidebar [sidebarItems]="item.children || []" [depth]="depth + 1"></app-sidebar>
          </ul>
        </ng-container>
      </li>
    </ng-container>
  </ul>
  